body{
    background-image: url(sahara-desert.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    width: 8%;
    height: 60px;
    position: relative;
    left: 5%;
    top: 20px;
}
.nav{
    width: max-content;
    position: absolute;
    top: 40px;
    right: 5%;
}
.n{
    padding: 30px;
    color: rgb(174, 221, 240);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-weight: bold;
}
.hamburger{
    position: absolute;
    top: 30px;
    right: 1%;
}
.box1{
    width: 40%;
    height: 350px;
    position: absolute;
    top: 120px;
    left: 5%;
}
.sahara{
    color: #9c0781;
    text-shadow: 4px 4px 4px rgb(88, 126, 12);
    font-size: 4.5rem;
    letter-spacing: 1vw;
    font-family: 'Righteous', cursive;
}
.sahara:hover {
    color: #000000;
    text-shadow: 4px 4px 4px #F0A500;
}
.lorem{
    color:ghostwhite;
    text-shadow: 2px 2px 2px #0A043C;
    font-size: 1.1rem;
    line-height: 28px;
}
.btn{
    width: 22%;
    height: 34px;
    color: darkblue;
    text-shadow: 1px 1px 1px yellow;
    font-size: larger;
    font-family: 'Acme', sans-serif;
    border: 3px ridge purple;
    border-radius: 25px;
    background-image: linear-gradient(180deg, rgb(72, 211, 199), rgb(23, 36, 114));
}
.btn:hover {
    color: #000000;
    text-shadow: 1px 1px 2px hotpink;
}
.n:hover {
    color: black;
}
.gridbox{
    width: 48%;
    height: 500px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 44px 10px;
    margin-top: 30px;
    margin-left: 50%;
}
.card1{
    width: 70%;
    height: 226px;
    padding-left: 5%;
    border-radius: 20px;
    background-image: url(pic-1.png);
    background-size: cover;
}
.card2{
    width: 70%;
    height: 226px;
    padding-left: 5%;
    border-radius: 20px;
    background-image: url(pic-2.png);
    background-size: cover;
}
.card3{
    width: 70%;
    height: 226px;
    padding-left: 5%;
    border-radius: 20px;
    background-image: url(pic-3.png);
    background-size: cover;
}
.card4{
    width: 70%;
    height: 226px;
    padding-left: 5%;
    border-radius: 20px;
    background-image: url(pic-4.png);
    background-size: cover;
}
.heading{
    color: darkslateblue;
    font-family: 'Righteous', cursive;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #F0A500;   
}
.para1{
    color: white;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover {
    transition: 0.5s;
    margin-top: 5px;
}
/* Media Query for (max-width:856px) */
@media only screen and (max-width: 856px) {
    .logo{
        width: 15%;
    }
    .nav{
        top: 30px;
        right: 15%;   
    }
    .hamburger{
        top: 20px;
        right: 8%;
    }
    .n{
        padding: 5px;
    }
    .box1{
        width: 90%;
        display: inline-block;
        position: absolute;
        top: 100px;
    }
    .sahara{
        font-size: 4em;
    }
    .gridbox{
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        top: 450px;
        right: 5%;
        align-items: center;
    }
    .card1, .card2, .card3, .card4 {
        width: 80%;
        height: 250px;
    }
    .para1{
        display: inline-block;
        font-size: medium;
    }
}




